body {
    font-family: Arial;
    text-align: center;
    margin: 40px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
}

#canvas-container, #photo-container {
    display: none;
    margin-top: 20px;
}

canvas {
    border: 1px solid #000;
    background-color: white;
    cursor: crosshair;
}

#photo_preview {
    max-height: 300px;
}

#modal-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 10;
}

#modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    min-width: 200px;
}

#result_container, #processed_image, #close_btn {
    display: none;
}

#processed_image {
    box-shadow: 0 0 5px 5px black;
}

#result_container {
    margin-top: 10px;
    border: 2px solid blue;
    padding: 0 5px;
    border-radius: 10px;
}

#loader {
    display: none;
    width: 80px;
    height: 80px;
    border: 8px solid transparent;
    border-top: 8px solid #00e6e6;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    box-shadow: 0 0 15px #00e6e6;
}

@keyframes spin {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#confidence_chart {
    width: 100%;
}

.confidence_values {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}


.bar {
    height: 20px;
    border-radius: 4px;
    transition: background 0.3s;
    margin-left: 10px;
    text-align: center;
    color: black;
}

