<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Handwritten Number Recognizer</title>
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>

        <h1>Handwritten Number Recognizer</h1>

        <input style="display: none;" id="image_input" style="" type="file" accept="image/*">
        <div id="controls">
            <button onclick="showCanvas()">Write</button>
            <button onclick="selectFile()">Take Photo</button>
        </div>

        <!-- Canvas Container -->
        <div id="canvas-container">
            <canvas id="draw-canvas" width="280" height="280"></canvas><br>
            <button onclick="predictWritten()">Predict</button>
            <button onclick="clearCanvas()">Clear</button>
        </div>

        <!-- Camera Container -->
        <div id="photo-container">
            <div>
                <img id="photo_preview">
            </div>
            <button onclick="predictImage()">Predict</button>
        </div>

        <!-- Loading and Result -->
        <div id="loading">Loading...</div>
        <div id="result">RESULT: None</div>

        <script src="/static/index.js"></script>
    </body>
</html>
